
body {background-color: #5C2A9D;}

h1 {color: white;}

h2 {color: white;}

p {color: white;}

ul {color : white;}

table {border: 20px;
        border-color: #871517;
        padding: 10px;
border-width: 20px;}

footer{background-color: #871517;}

h3{color: white;}

li {color: white;}

img {width: 125px;
height: 150px;}

a{color: white; }

header { background-color:  #871517;
font-size: 50px;}
